<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="blockController">

<head>
    <meta charset="UTF-8">
    <title>FIT ME個人首頁</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link rel="stylesheet" href="stylesheets/board.css">
</head>

<body ng-class="{unscroll:isDetailActive,unscroll:isCourseShow}">
    <div id="fb-root"></div>
    <!-- init放入使用者帳號 -->
    <div class="container" ng-init="userAccount='123456'">
        <div class="row">
            <!-- 主頁面 -->
            <div class="block-container" ng-class="{gotop:isDetailActive,ontop:isOntop,filter:isCourseShow}" when-transition-end="setOntop()">
                <div class="col-md-3 col-xs-6 block-outer">
                    <!-- 會員 -->
                    <div class="block-inner block-inner-1" id="block-user">
                        <div class="block-header">會員</div>
                        <div class="block-body">
                            <div class="block-user">
                                <div class="block-user-info">
                                    <div class="block-user-photo">
                                        <img class="user-photo" ng-src="{{loginUser.photo}}">
                                    </div>
                                    <div class="block-user-name">
                                        <p class="user-name">{{loginUser.name}}</p>
                                    </div>
                                    <div class="block-user-edit">
                                        <p class="user-edit">修改個人資料</p>
                                    </div>
                                </div>
                                <div class="block-user-group">
                                    <div class="block-user-album">個人相簿</div>
                                    <div class="block-user-message">肌友交流</div>
                                </div>
                                <div class="block-user-index">
                                    <button type="button" class="btn btn-flat" id="btn-index">返回總覽首頁</button>
                                    <button type="button" class="btn btn-flat" id="btn-logout">登出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 block-outer">
                    <!-- 課程行事曆&完成率 -->
                    <div class="block-inner block-inner-1" id="block-course">
                        <div class="block-header">課程行事曆</div>
                        <div class="block-body">
                            <div class="scroller" ng-show="isHaveCourse">
                                <div class="block-course-list" ng-repeat="course in courseData" ng-click="showDetail4(course.time)">
                                    <div class="block-course-thumb"><img ng-src="{{course.thumb}}" class="course-thumb"></div>
                                    <div class="block-course-title">{{course.title}}</div>
                                    <div class="block-course-time">{{course.time}}{{course.weekday}}</div>
                                </div>
                            </div>
                            <div class="block-course-start">
                                <button class="btn btn-flat" id="btn-course" ng-hide="isHaveCourse" ng-click="newCourse()">產生新課程</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 個人素質 -->
                <div class="col-md-3 col-xs-6 block-outer">
                    <div class="block-inner block-inner-1" id="block-status">
                        <div class="block-header">
                            <p class="pull-left">個人素質</p>
                            <button class="btn btn-saveSVG pull-right" data-chartname="status" id="btn-trainingSVG">分享圖表</button>
                        </div>
                        <div class="block-body">
                            <div class="block-thumb" id="block-chart-status"></div>
                        </div>
                    </div>
                </div>
                <!-- 體脂 -->
                <div class="col-md-3 col-xs-6 block-outer">
                    <div class="block-inner block-inner-1" id="block-bodyfat">
                        <div class="block-header">
                            <p class="pull-left">體脂</p>
                            <button class="btn btn-saveSVG pull-right" data-chartname="bodyfatThumb" id="btn-trainingSVG">分享圖表</button>
                        </div>
                        <div class="block-body">
                            <div class="block-thumb" id="block-bodyfat-thumb"></div>
                        </div>
                    </div>
                </div>
                <!-- 訓練成效 -->
                <div class="col-md-6 col-xs-12 block-outer">
                    <div class="block-inner block-inner-2 clickable" id="block-training" ng-mouseenter="showMessage('training')" ng-mouseleave="hideMessage('training')">
                        <div class="block-header">
                            <p class="pull-left">訓練成效</p>
                            <button class="btn btn-saveSVG pull-right" data-chartname="training" id="btn-trainingSVG">分享圖表</button>
                        </div>
                        <div class="block-body">
                            <div class="block-thumb" id="block-training-thumb" ng-click="showDetail1('training')"></div>
                            <input type="hidden" id="trainingSVG" ng-model="trainingSVG">
                        </div>
                        <div class="block-message" id="training-message" ng-class="{active:hoverTraining}">
                            <p>這張圖表將你每次訓練時的各項指標加權計算，並以此評估你每次的訓練成效。</p>
                            <p>點擊圖表可查看詳細資訊</p>
                        </div>
                    </div>
                </div>
                <!-- 肌肉成長 -->
                <div class="col-md-6 col-xs-12 block-outer">
                    <div class="block-inner block-inner-2 clickable" id="block-grow" ng-mouseenter="showMessage('grow')" ng-mouseleave="hideMessage('grow')">
                        <div class="block-header">
                            <p class="pull-left">肌肉成長</p>
                            <button class="btn btn-saveSVG pull-right" data-chartname="grow" id="btn-trainingSVG">分享圖表</button>
                        </div>
                        <div class="block-body">
                            <div class="block-thumb" id="block-grow-thumb" ng-click="showDetail1('grow')"></div>
                        </div>
                        <div class="block-message" id="grow-message" ng-class="{active:hoverGrow}">
                            <p>這張圖表將你各項肌肉指標加權計算，並以此評估你的肌肉成長比例。</p>
                            <p>點擊圖表可查看詳細資訊</p>
                        </div>
                    </div>
                </div>
                <!-- 年齡與性別 -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">18至23歲的男性也選擇了</div>
                        <div class="block-body"></div>
                    </div>
                </div>
                <!-- 運動項目  -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">喜歡排球的人也選擇了</div>
                        <div class="block-body"></div>
                    </div>
                </div>
                <!-- 訓練部位 -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">注重二頭肌的人也選擇了</div>
                        <div class="block-body"></div>
                    </div>
                </div>
                <!-- 訓練目標 -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">重視肌肉強度的人也選擇了</div>
                        <div class="block-body"></div>
                    </div>
                </div>
                <!-- 已完成課程 -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">完成了初學者均衡鍛鍊的人也選擇了</div>
                        <div class="block-body"></div>
                    </div>
                </div>
                <!-- 關注課程 -->
                <div class="col-md-4 col-xs-6 block-outer">
                    <div class="block-inner block-inner-4">
                        <div class="block-header">你曾經關注了以下課程</div>
                        <div class="block-body"></div>
                    </div>
                </div>
            </div>
            <div class="block-course-outer" ng-show="isCourseShow" ng-click="hideCourse('continue')">
            </div>
            <div class="block-inner block-course-inner" ng-show="isCourseShow" ng-class="{active:isCourseShow}">
                <div class="block-header"><span class="title">產生個人化課程</span><span class="back" ng-click="hideCourse('quit')"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <div class="course-options" ng-class="courseStatus['options']">
                        <div class="scroller">
                            <section class="clearfix option">
                                <div class="course-title goal-title">選擇訓練目標<i class="fa fa-check icon-success" ng-class="{active:isGoalSet}"></i></div>
                                <div class="goal-options btn-group">
                                    <div class="options options-strength">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedGoal['strength']}" ng-click="setGoal('肌力')">肌力</button>
                                    </div>
                                    <div class="options options-endurance">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedGoal['endurance']}" ng-click="setGoal('肌耐力')">肌耐力</button>
                                    </div>
                                </div>
                            </section>
                            <section class="clearfix option">
                                <div class="course-title part-title">選擇訓練部位<i class="fa fa-check icon-success" ng-class="{active:isPartSet}"></i></div>
                                <div class="part-options btn-group">
                                    <div class="options options-chest">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['complex']}" ng-click="setPart('複合')">複合部位</button>
                                    </div>
                                    <div class="options options-chest">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['chest']}" ng-click="setPart('胸')">胸肌</button>
                                    </div>
                                    <div class="options options-back">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['back']}" ng-click="setPart('背')">背肌</button>
                                    </div>
                                    <div class="options options-shoulder">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['shoulder']}" ng-click="setPart('肩')">肩膀</button>
                                    </div>
                                    <div class="options options-belly">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['belly']}" ng-click="setPart('腹')">腹肌</button>
                                    </div>
                                    <div class="options options-foot">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['foot']}" ng-click="setPart('腳')">腿肌</button>
                                    </div>
                                    <div class="options options-two">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['two']}" ng-click="setPart('肱二頭')">二頭肌</button>
                                    </div>
                                    <div class="options options-three">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedPart['three']}" ng-click="setPart('肱三頭')">三頭肌</button>
                                    </div>
                                </div>
                            </section>
                            <section class="clearfix option">
                                <div class="course-title device-title">選擇擁有的訓練器材<i class="fa fa-check icon-success" ng-class="{active:isDeviceSet}"></i></div>
                                <div class="device-option">
                                    <div class="options" ng-repeat="device in deviceButtonList">
                                        <button class="btn btn-options btn-lg" ng-class="{active:selectedDevice[device.eng]}" ng-click="setDevice(device.chi)">{{device.chi}}</button>
                                    </div>
                                </div>
                            </section>
                            <section class="clearfix option">
                                <button class="btn btn-options btn-lg pull-right" ng-click="createCourse()">產生個人化課程<i class="fa fa-arrow-circle-o-right"></i></button>
                            </section>
                        </div>
                    </div>
                    <div class="course-preview" ng-class="courseStatus['preview']">
                        <div class="scroller">
                            <div class="preview-course">
                                <div class="course-title preview-title">
                                    個人化課程預覽
                                </div>
                                <div class="preview-list" ng-repeat="course in previewList">
                                    <p>{{course.day}}</p>
                                    <div class="preview-posture" ng-repeat="posture in course.posture" ng-click="showPostureDetail(posture.pos)">
                                        <p>{{posture.pos}}<i class="fa fa-chevron-right pull-right"></i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-date clearfix">
                                <div class="course-title date-title">
                                    選擇課程開始日期
                                </div>
                                <div class="date-options" ng-repeat="date in previewDate">
                                    <div class="options options-date">
                                        <button class="btn btn-options" ng-class="activeDate[$index]" ng-click="setDate($index)">
                                            <p>{{date.month}}/{{date.day}}</p>
                                            <p>{{date.weekday}}</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-confirm clearfix">
                                <button class="btn btn-options btn-lg" id='btn-confirm' ng-click="courseConfirm()">確認課程</button>
                            </div>
                        </div>
                    </div>
                    <!-- 動作詳細 -->
                    <div class="course-posture" ng-class="courseStatus['posture']">
                        <div class="course-title posture-title">
                            {{postureName}}
                        </div>
                        <div class="posture-video">
                            <iframe class="posture-iframe" src="https://www.youtube.com/embed/paQczLIrDMI"></iframe>
                        </div>
                        <div class="posture-back">
                            <button class="btn btn-options" ng-click="backPreviewList()">返回課程預覽</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 詳細block -->
            <div class="block-detail-outer" ng-class="{active:isDetailActive}" ng-click="showIndex()"></div>
            <!-- 詳細block1 -->
            <div class="block-detail" id="block-detail-1" ng-class="{active:detail1Active}">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="block-header">
                    <sapn class="title">{{detail1Options.title}}</sapn><span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <div id="detail1-main-chart"></div>
                    <div id="detail1-right-tabs">
                    </div>
                    <div id="detail1-left-chart"></div>
                    <div id="detail1-right-chart"></div>
                </div>
            </div>
            <!-- 詳細block2 -->
            <div class="block-detail" id="block-detail-2" ng-class="{active:detail2Active}">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="block-header">
                    <sapn class="title">{{detail2Options.title}}</sapn><span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span>
                </div>
                <div class="block-body">
                    <div id="detail2-topleft-chart"></div>
                    <div id="detail2-topright-chart"></div>
                    <div id="detail2-bottomleft-chart"></div>
                    <div id="detail2-bottomright-chart"></div>
                </div>
            </div>
            <!-- 詳細block3 -->
            <div class="block-detail" id="block-detail-3" ng-class="{active:detail3Active}">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="block-header">
                    <sapn class="title">{{detail3Options.title}}</sapn><span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <iframe ng-src="{{detail3Options.src}}" frameborder="0" id="detail3-main-iframe"></iframe>
                </div>
            </div>
            <!-- 詳細block4 -->
            <div class="block-detail" id="block-detail-4" ng-class="{active:detail4Active}">
                <div class="block-header"><span class="title">{{detail4Options.title}}</span><span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <div class="detail4-calendar">
                        <div class="calendar-week col-sm-1" ng-repeat="week in calendar">
                            <div class="week-weekday">{{week.weekdayTW}}</div>
                            <div class="week-day" ng-click="showCalendarPosture(week.day1,week.day1Posture,week.day1Complete)">{{week.day1|date:'dd'}}<img class="day-thumb" ng-src="{{week.day1Thumb}}"></div>
                            <div class="week-day" ng-click="showCalendarPosture(week.day2,week.day2Posture,week.day2Complete)">{{week.day2|date:'dd'}}<img class="day-thumb" ng-src="{{week.day2Thumb}}"></div>
                            <div class="week-day" ng-click="showCalendarPosture(week.day3,week.day3Posture,week.day3Complete)">{{week.day3|date:'dd'}}<img class="day-thumb" ng-src="{{week.day3Thumb}}"></div>
                            <div class="week-day" ng-click="showCalendarPosture(week.day4,week.day4Posture,week.day4Complete)">{{week.day4|date:'dd'}}<img class="day-thumb" ng-src="{{week.day4Thumb}}"></div>
                            <div class="week-day" ng-click="showCalendarPosture(week.day5,week.day5Posture,week.day5Complete)">{{week.day5|date:'dd'}}<img class="day-thumb" ng-src="{{week.day5Thumb}}"></div>
                        </div>
                        <div class="calendar-posture-outer col-sm-5">
                            <div class="calendar-posture-inner slide">
                                <div class="posture-list" ng-class="{active:isPostureListShow}">
                                    <div class="posture-date">{{postureDate | date:'yyyy-MM-dd' }}</div>
                                    <div class="posture-title">{{postureTitle}}</div>
                                    <div class="posture-name" ng-click='showPosture(posture.posture)' ng-repeat="posture in postureList">
                                        {{posture.posture}}
                                    </div>
                                </div>
                                <div class="posture-detail" ng-class="{active:isPostureDetailShow}">
                                {{postureName}}
                                <iframe class="posture-video" src="https://www.youtube.com/embed/paQczLIrDMI" frameborder="0" class="posture-video"></iframe>
                                <button class="btn btn-flat btn-lg" ng-click="showPostureList()">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 詳細block5 -->
            <div class="block-detail" id="block-detail-5" ng-class="{active:detail5Active}">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="block-header">
                    <input type="text" class="input-title" placeholder="新增最新消息標題" ng-model="editTitle">
                    <span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <div class="detail-edit">
                        <div class="scroller edit-scroller text-center">
                            <textarea type="text" class="form-control" id="edit-area" placeholder="{{editHolder}}" ng-model="editContent"></textarea>
                            <button class="btn btn-danger btn-lg btn-gap">刪除</button>
                            <button class="btn btn-flat btn-lg">修改</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-bar" ng-class="{active:detail5Active}">
                <div class="bar-create">
                    <span ng-click="createNews()"><i class="fa fa-plus fa-lg"></i></span>
                </div>
                <div class="bar-search">
                    <i class="fa fa-search inline-search"></i>
                    <input type="text" class="input-search" ng-model="search.title">
                </div>
            </div>
            <div class="detail-list" ng-class="{active:detail5Active}">
                <div class="block-header">最新消息列表</div>
                <div class="block-body">
                    <div class="scroller title-scroller">
                        <div class="block-title-list" ng-click="editNews(news)" ng-repeat="news in newsList | filter:search">
                            <div class="block-title-edit">{{news.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="javascripts/jquery-2.2.1.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-animate.min.js"></script>
    <script src="javascripts/angular-touch.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/highcharts.js"></script>
    <script src="javascripts/highcharts-more.js"></script>
    <script src="javascripts/dark-unica.js"></script>
    <script src="javascripts/board.js"></script>
    <script src="javascripts/chart.js"></script>
</body>

</html>
